In [ ]:
#1
#Types of Applications:
#1.Based on Platform :- Desktop, Web, Mobile, Hybrid
#2.Based on Functionality :- Productivity, Business, Multimedia, Educational, Communication, Entertainment, Utility
#3.Based on Deployment :- On-Premise, Cloud
#4.Based on Usage :- General-purpose, Special-purpose

In [ ]:
#2
#Programming is the process of writing instructions (code) in a computer language to make a computer perform specific tasks or solve problems.

In [ ]:
#3
#Python is a high-level, interpreted, and general-purpose programming language known for its simplicity, readability, and wide use in web development, data science, AI, automation, and more.

In [ ]:
#4
# Program to check if a number is positive, negative, or zero

num = float(input("Enter a number: "))

if num > 0:
    print("The number is Positive.")
elif num < 0:
    print("The number is Negative.")
else:
    print("The number is Zero.")

Enter a number: -4
The number is Negative.

In [ ]:
#5
# Program to find factorial of a number

num = int(input("Enter a number: "))

factorial = 1

if num < 0:
    print("factorial does not exist for negative numbers.")
else:
    for i in range(1,6):
        factorial *= i
    print(f"The factorial of {num} is {factorial}.")

Enter a number: 5
The factorial of 5 is 120.

In [ ]:
#6
# Fibonacci series using for loop

n = int(input("Enter the number of terms: "))

a, b = 0, 1

print("Fibonacci series:")

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms: 7
Fibonacci series:
0 1 1 2 3 5 8

In [ ]:
#7
#In Python, memory is managed automatically using a private heap space, a memory manager, and garbage collection (reference counting + cyclic GC) which frees unused memory.

In [ ]:
#8
#The continue statement in Python is used inside loops to skip the current iteration and move to the next iteration of the loop.

# Purpose: To bypass part of the loop when a certain condition is met, without stopping the loop.

In [ ]:
#9
# Swap using temp variable

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Before swapping: a =", a, " b =", b)

temp = a
a = b
b = temp

print("After swapping: a =", a, " b =", b)

Enter first number: 5
Enter second number: 10
Before swapping: a = 5  b = 10
After swapping: a = 10  b = 5

In [ ]:
#9
# Swap without temp variable

x = int(input("Enter first number: "))
y = int(input("Enter second number: "))

print("Before swapping: x =", x, " y =", y)

x, y = y, x

print("After swapping: x =", x, " y =", y)

Enter first number: 10
Enter second number: 5
Before swapping: x = 10  y = 5
After swapping: x = 5  y = 10

In [ ]:
#10
# Program to check even or odd number

num = int(input("Enter a number: "))

if num % 2 == 0:
    print(f"{num} is Even.")
else:
    print(f"{num} is Odd.")

Enter a number: 6
6 is Even.

In [ ]:
#11
# Program to check if a letter is vowel or not

letter = input("Enter a letter: ")

if letter in ('a', 'e', 'i', 'o', 'u'):
    print(f"{letter} is a Vowel.")
else:
    print(f"{letter} is NOT a Vowel.")

Enter a letter: S
S is NOT a Vowel.

In [ ]:
#12
# Program to find sum of three integers
# If any two values are equal, sum will be zero

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a == b or b == c or a == c:
    result = 0
else:
    result = a + b + c

print("Result:", result)

Enter first number: 20
Enter second number: 6
Enter third number: 03
Result: 29

In [ ]:
#13
# Program to check if two integers are equal
# or their sum or difference is 5

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if a == b or (a + b == 5) or (abs(a - b) == 5):
    print("True")
else:
    print("False")

Enter first number: 6
Enter second number: 11
True

In [ ]:
#14
# Program to find sum of first n positive integers

n = int(input("Enter a positive integer: "))

total = 0
for i in range(1, n + 1):
    total += i

print(f"Sum of first {n} positive integers is: {total}")

Enter a positive integer: 10
Sum of first 10 positive integers is: 55

In [ ]:
#15
# Program to calculate length of a string

text = input("Enter a string: ")

length = 0
for char in text:
    length += 1

print("Length of the string is:", length)

Enter a string: shruti
Length of the string is: 6

In [ ]:
#16
# Program to count character frequency in a string

text = input("Enter a string: ")

frequency = {}

for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print("Character frequencies:")
for key, value in frequency.items():
    print(f"{key} : {value}")

Enter a string: johoo
Character frequencies:
j : 1
o : 3
h : 1

In [ ]:
#17
#Negative Indexes in Python
#In Python, negative indexes are used to access elements of a sequence (like list, string, tuple) from the end instead of the beginning.
#-1 refers to the last element, -2 to the second last, and so on.

#Why are they used?

#To easily access elements from the end without needing to calculate the exact positive index.

#Makes code shorter and more readable.

In [ ]:
#18
# Program to count occurrences of a substring in a string

text = input("Enter the main string: ")
sub = input("Enter the substring to search: ")

count = text.count(sub)

print(f"The substring '{sub}' occurs {count} times in the given string.")

Enter the main string: hello code,hello python
Enter the substring to search: hello
The substring 'hello' occurs 2 times in the given string.

In [ ]:
#19
# Program to count occurrences of each word in a sentence

sentence = input("Enter a sentence: ")

words = sentence.split()
frequency = {}

for word in words:
    word = word.lower()
    if word in frequency:
        frequency[word] += 1
    else:
        frequency[word] = 1

print("Word frequencies:")
for key, value in frequency.items():
    print(f"{key} : {value}")

Enter a sentence: hello code hello python
Word frequencies:
hello : 2
code : 1
python : 1

In [ ]:
#20
# Program to join two strings with space and swap first two characters

str1 = input("Enter first string: ")
str2 = input("Enter second string: ")

# swap first two characters
new_str1 = str2[:2] + str1[2:]
new_str2 = str1[:2] + str2[2:]

# join with space
result = new_str1 + " " + new_str2

print("Result:", result)

Enter first string: abc
Enter second string: xyz
Result: xyc abz

In [ ]:
#21
# Program to modify a string based on given conditions

s = input("Enter a string: ")

if len(s) < 3:
    result = s
elif s.endswith("ing"):
    result = s + "ly"
else:
    result = s + "ing"

print("Result:", result)

Enter a string: walk
Result: walking

In [ ]:
#22
# Function to reverse a string if its length is a multiple of 4

def reverse_if_multiple_of_4(s):
    if len(s) % 4 == 0:
        return s[::-1]
    else:
        return s

# Input
text = input("Enter a string: ")
print("Result:", reverse_if_multiple_of_4(text))

Enter a string: cook
Result: kooc

In [ ]:
#23
# Program to get string made of first 2 and last 2 characters

def first_last_two(s):
    if len(s) < 2:
        return ""
    return s[:2] + s[-2:]

# Input
text = input("Enter a string: ")
print("Result:", first_last_two(text))

Enter a string: python
Result: pyon

In [ ]:
#24
# Function to insert a string in the middle of another string

def insert_middle(main_str, insert_str):
    mid = len(main_str) // 2
    return main_str[:mid] + insert_str + main_str[mid:]

# Input
main = input("Enter the main string: ")
insert = input("Enter the string to insert: ")

print("Result:", insert_middle(main, insert))

Enter the main string: hellocode
Enter the string to insert: python
Result: hellpythonocode

In [ ]:
#25
#A list is a built-in data structure in Python that is used to store multiple items in a single variable.
#Lists are ordered, mutable (changeable), and allow duplicates.
#Lists are written inside square brackets []

#A list is a collection of ordered, changeable items in Python.
#You can reverse it using .reverse(), slicing ([::-1]), or reversed().

In [ ]:
#26
#use list.pop() to remove the last object.

In [ ]:
#27
list1 = [2, 33, 222, 14, 25]
list1[-1]

25

In [ ]:
#28
#| Feature  | `append()`                              | `extend()`                                 |
#| -------- | --------------------------------------- | ------------------------------------------ |
#| Adds     | Single element                          | Multiple elements (iterable)               |
#| Behavior | Adds object as it is (nested if list)   | Iterates through object and adds each item |
#| Example  | `[1,2,3].append([4,5]) → [1,2,3,[4,5]]` | `[1,2,3].extend([4,5]) → [1,2,3,4,5]`      |

In [ ]:
#29
# Function to get largest, smallest and sum of list
def list_stats(numbers):
    largest = max(numbers)
    smallest = min(numbers)
    total = sum(numbers)
    return largest, smallest, total

# Input
my_list = [2, 33, 222, 14, 25]

largest, smallest, total = list_stats(my_list)

print("Largest number:", largest)
print("Smallest number:", smallest)
print("Sum of all numbers:", total)

Largest number: 222
Smallest number: 2
Sum of all numbers: 296

In [ ]:
#30
#Use == for exact match (order + values).

#Use sorted() if only values matter (order doesn’t).

#Use loops for custom comparison.

In [ ]:
#31
def match_strings(words):
    count = 0
    for word in words:
        if len(word) >= 2 and word[0] == word[-1]:
            count += 1
    return count

# Example usage:
string_list = ['abc', 'xyz', 'aba', '1221', 'aa', 'b']
print("List of strings:", string_list)
print("Number of strings with length >= 2 and same first & last character:", match_strings(string_list))

List of strings: ['abc', 'xyz', 'aba', '1221', 'aa', 'b']
Number of strings with length >= 2 and same first & last character: 3

In [ ]:
#32
def remove_duplicates_order(lst):
    result = []
    for item in lst:
        if item not in result:
            result.append(item)
    return result

# Example usage
numbers = [1, 2, 3, 2, 4, 1, 5, 3]
print("Original list:", numbers)
print("After removing duplicates (order preserved):", remove_duplicates_order(numbers))

Original list: [1, 2, 3, 2, 4, 1, 5, 3]
After removing duplicates (order preserved): [1, 2, 3, 4, 5]

In [ ]:
#33
def check_empty(lst):
    if not lst:
        print("The list is empty")
    else:
        print("The list is not empty")

# Example usage
list1 = []
list2 = [10, 20, 30]

check_empty(list1)
check_empty(list2)

The list is empty
The list is not empty

In [ ]:
#34
def common_member(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example
list_a = [1, 2, 3, 4, 5]
list_b = [6, 7, 8, 9]
list_c = [5, 10, 15]

print(common_member(list_a, list_b))  # False
print(common_member(list_a, list_c))  # True

False
True

In [ ]:
#35
def square_list():
    # Generate list of squares from 1 to 30
    squares = [x**2 for x in range(1, 31)]

    # Print first 5 and last 5 elements
    print("First 5 elements:", squares[:5])
    print("Last 5 elements:", squares[-5:])

# Example usage
square_list()

First 5 elements: [1, 4, 9, 16, 25]
Last 5 elements: [676, 729, 784, 841, 900]

In [ ]:
#36
def unique_elements(lst):
    unique_list = []
    for item in lst:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

# Example usage
numbers = [1, 2, 3, 2, 4, 1, 5, 3]
print("Original list:", numbers)
print("Unique elements:", unique_elements(numbers))

Original list: [1, 2, 3, 2, 4, 1, 5, 3]
Unique elements: [1, 2, 3, 4, 5]

In [ ]:
#37
def list_to_string(char_list):
    return "".join(char_list)

# Example usage
chars = ['H', 'e', 'l', 'l', 'o']
print("List of characters:", chars)
print("Converted string:", list_to_string(chars))

List of characters: ['H', 'e', 'l', 'l', 'o']
Converted string: Hello

In [ ]:
#38
import random

def random_item(lst):
    return random.choice(lst)

# Example usage
items = [10, 20, 30, 40, 50, "Hello", "Python"]
print("Original list:", items)
print("Randomly selected item:", random_item(items))

Original list: [10, 20, 30, 40, 50, 'Hello', 'Python']
Randomly selected item: 40

In [ ]:
#39
def second_smallest(lst):
    unique_list = list(set(lst))
    if len(unique_list) < 2:
        return None
    unique_list.sort()
    return unique_list[1]

# Example usage
numbers = [5, 3, 9, 1, 3, 7, 1]
print("Original list:", numbers)
print("Second smallest number:", second_smallest(numbers))

Original list: [5, 3, 9, 1, 3, 7, 1]
Second smallest number: 3

In [ ]:
#40
def unique_values(lst):
    unique_list = []
    for item in lst:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

# Example usage
numbers = [1, 2, 3, 2, 4, 1, 5, 3]
print("Unique values (order preserved):", unique_values(numbers))

Unique values (order preserved): [1, 2, 3, 4, 5]

In [ ]:
#41
def contains_sublist(lst, sublst):
    sub_len = len(sublst)
    for i in range(len(lst) - sub_len + 1):
        if lst[i:i + sub_len] == sublst:
            return True
    return False

# Example usage
main_list = [1, 2, 3, 4, 5, 6]
sub_list1 = [2, 3, 4]
sub_list2 = [3, 5]

print(contains_sublist(main_list, sub_list1))
print(contains_sublist(main_list, sub_list2))

True
False

In [ ]:
#42
# Original list
my_list = [10, 20, 30]

# Unpacking into variables
a, b, c = my_list

print("a =", a)
print("b =", b)
print("c =", c)

a = 10
b = 20
c = 30

In [ ]:
#43
#A tuple is an ordered collection of elements, just like a list, but immutable (cannot be changed after creation).
#Defined using parentheses ().
#Can contain elements of different data types.
#Supports indexing, slicing, and iteration.

##Difference between List and Tuple
#| Feature         | List                                             | Tuple                            |
#| --------------- | ------------------------------------------------ | -------------------------------- |
#| **Syntax**      | `[]` (square brackets)                           | `()` (parentheses)               |
#| **Mutability**  | Mutable (can change)                             | Immutable (cannot change)        |
#| **Performance** | Slower                                           | Faster                           |
#| **Methods**     | Many built-in methods (`append`, `remove`, etc.) | Fewer methods (`count`, `index`) |
#| **Use case**    | When data needs to be changed                    | When data should remain constant |

In [ ]:
#44
# Creating a tuple with different data types
my_tuple = (1, "Python", 3.14, True, [10, 20, 30])

# Printing the tuple
print("Tuple:", my_tuple)

# Accessing elements
print("First element:", my_tuple[0])   # Integer
print("Second element:", my_tuple[1])  # String
print("Third element:", my_tuple[2])   # Float
print("Fourth element:", my_tuple[3])  # Boolean
print("Fifth element:", my_tuple[4])   # List

Tuple: (1, 'Python', 3.14, True, [10, 20, 30])
First element: 1
Second element: Python
Third element: 3.14
Fourth element: True
Fifth element: [10, 20, 30]

In [ ]:
#45
# Original list of tuples
list_of_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]

# Unzipping using zip(*list_of_tuples)
numbers, letters = zip(*list_of_tuples)

# Converting tuples to lists
numbers = list(numbers)
letters = list(letters)

print("Original list of tuples:", list_of_tuples)
print("Numbers list:", numbers)
print("Letters list:", letters)

Original list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
Numbers list: [1, 2, 3]
Letters list: ['a', 'b', 'c']

In [ ]:
#46
# List of tuples (key, value)
list_of_tuples = [("a", 1), ("b", 2), ("c", 3)]

# Convert to dictionary
my_dict = dict(list_of_tuples)

print("List of tuples:", list_of_tuples)
print("Converted dictionary:", my_dict)

List of tuples: [('a', 1), ('b', 2), ('c', 3)]
Converted dictionary: {'a': 1, 'b': 2, 'c': 3}

In [ ]:
#47
# Directly using tuples
my_dict = dict((("x", 10), ("y", 20), ("z", 30)))

print("Dictionary:", my_dict)

Dictionary: {'x': 10, 'y': 20, 'z': 30}

In [ ]:
#48
# Sample dictionary
my_dict = {'apple': 3, 'banana': 1, 'orange': 5, 'mango': 2}

# Sorting dictionary by value (ascending)
asc_sorted = dict(sorted(my_dict.items(), key=lambda item: item[1]))

# Sorting dictionary by value (descending)
desc_sorted = dict(sorted(my_dict.items(), key=lambda item: item[1], reverse=True))

print("Original dictionary:", my_dict)
print("Sorted by value (ascending):", asc_sorted)
print("Sorted by value (descending):", desc_sorted)

Original dictionary: {'apple': 3, 'banana': 1, 'orange': 5, 'mango': 2}
Sorted by value (ascending): {'banana': 1, 'mango': 2, 'apple': 3, 'orange': 5}
Sorted by value (descending): {'orange': 5, 'apple': 3, 'mango': 2, 'banana': 1}

In [ ]:
#49
# Sample dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = {'e': 5, 'f': 6}

new_dict2 = dict1.copy()
new_dict2.update(dict2)
new_dict2.update(dict3)
print("Concatenated dictionary (update):", new_dict2)

Concatenated dictionary (update): {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [ ]:
#50
# Sample dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'Paris'}

# Function to check if key exists
def key_exists(dictionary, key):
    if key in dictionary:
        print(f"Key '{key}' exists in the dictionary.")
    else:
        print(f"Key '{key}' does not exist in the dictionary.")

# Example usage
key_exists(my_dict, 'age')

Key 'age' exists in the dictionary.

In [ ]:
#51
my_dict = {'name': 'shruti', 'age': 22, 'city': 'Paris'}

for key in my_dict:
    print(key, "->", my_dict[key])

name -> shruti
age -> 22
city -> Paris

In [ ]:
#52
my_dict = {'name': 'shruti', 'age': 22, 'city': 'Paris'}

if 'age' in my_dict:
    print("Key 'age' exists")
else:
    print("Key 'age' does not exist")

Key 'age' exists

In [ ]:
#53
# Create dictionary with keys 1 to 15 and values as squares of keys
my_dict = {x: x**2 for x in range(1, 16)}

# Print the dictionary
print("Dictionary with keys 1 to 15 and their squares:")
print(my_dict)

Dictionary with keys 1 to 15 and their squares:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
#54
# Sample dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

# Function to check multiple keys
def check_keys(dictionary, keys):
    if all(key in dictionary for key in keys):
        print("All keys exist:", keys)
    else:
        print("Not all keys exist:", keys)

# Example usage
check_keys(my_dict, ['name', 'age'])           # All keys exist
check_keys(my_dict, ['name', 'gender'])        # Not all keys exist

All keys exist: ['name', 'age']
Not all keys exist: ['name', 'gender']

In [ ]:
#55
# Sample dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Merge dict2 into dict1
dict1.update(dict2)

print("Merged dictionary:", dict1)

Merged dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#56
from collections import Counter

# Sample lists
keys = ['a', 'b', 'c', 'd']
values = [400, 400, 300, 400]

# Map lists into a dictionary
my_dict = dict(zip(keys, values))

# Using Counter (optional, as per sample output)
counter_dict = Counter(my_dict)

print("Mapped dictionary:", my_dict)
print("Counter:", counter_dict)

Mapped dictionary: {'a': 400, 'b': 400, 'c': 300, 'd': 400}
Counter: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [ ]:
#57
# Sample dictionary
my_dict = {'a': 400, 'b': 500, 'c': 300, 'd': 450, 'e': 600}

# Sort dictionary by values in descending order and get top 3
top3 = dict(sorted(my_dict.items(), key=lambda item: item[1], reverse=True)[:3])

print("Original dictionary:", my_dict)
print("Top 3 highest values:", top3)

Original dictionary: {'a': 400, 'b': 500, 'c': 300, 'd': 450, 'e': 600}
Top 3 highest values: {'e': 600, 'b': 500, 'd': 450}

In [ ]:
#58
from collections import Counter

# Sample data
data = [
    {'item': 'item1', 'amount': 400},
    {'item': 'item2', 'amount': 300},
    {'item': 'item1', 'amount': 750}
]

# Combine amounts using Counter
combined = Counter()
for entry in data:
    combined[entry['item']] += entry['amount']

print("Combined amounts:", combined)

Combined amounts: Counter({'item1': 1150, 'item2': 300})

In [ ]:
#59
from collections import Counter

# Input string
my_string = "hello world"

# Count characters
char_count = Counter(my_string)

print("Character count:", char_count)

Character count: Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

In [ ]:
#60
# Sample string
sample_str = 'w3resource'

# Count characters using a loop
char_count = {}
for char in sample_str:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print("Character count:", char_count)

Character count: {'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [1]:
#61
def factorial_recursive(n):
    if n < 0:
        return "Factorial is not defined for negative numbers."
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial_recursive(n - 1)

# Example usage:
num = 5
print(f"Factorial of {num} is {factorial_recursive(num)}")

Factorial of 5 is 120

In [2]:
#62
def is_in_range(number, start, end):

    return start <= number <= end

# Example usage:
num = 7
print(is_in_range(num, 1, 10))  # True
print(is_in_range(num, 10, 20)) # False

True
False

In [3]:
#63
def is_perfect(number):

    if number <= 0:
        return False

    sum_of_divisors = 0
    for i in range(1, number):
        if number % i == 0:
            sum_of_divisors += i

    return sum_of_divisors == number

# Example usage:
num = 28
if is_perfect(num):
    print(f"{num} is a perfect number.")
else:
    print(f"{num} is not a perfect number.")

28 is a perfect number.

In [5]:
#64
def is_palindrome(s):

    # Remove spaces and convert to lowercase for uniformity
    s = s.replace(" ", "").lower()

    # Check if string is equal to its reverse
    return s == s[::-1]

# Example usage:
string1 = "shruti"
string2 = "Hello"

print(f"'{string1}' is a palindrome? {is_palindrome(string1)}")  # True
print(f"'{string2}' is a palindrome? {is_palindrome(string2)}")  # False

'shruti' is a palindrome? False
'Hello' is a palindrome? False

In [6]:
#65
# Python has four basic types of functions:

#Built-in functions – Provided by Python (print(), len()).

#User-defined functions – Created by the programmer using def.

#Lambda (anonymous) functions – One-line functions using lambda.

#Recursive functions – Functions that call themselves.

In [7]:
#66
import random

# List example
my_list = [10, 20, 30, 40, 50]
random_item = random.choice(my_list)
print(random_item)

# Tuple example
my_tuple = ('apple', 'banana', 'cherry')
random_item = random.choice(my_tuple)
print(random_item)

40
banana

In [8]:
#67
import random

# Random integer between 1 and 10
random_item = random.randint(1, 10)
print(random_item)

3

In [9]:
#68
import random

# Random integer between 1 and 10 (inclusive)
rand_int = random.randint(1, 10)
print(rand_int)

6

In [10]:
#69
import random

# Set the seed
random.seed(42)

# Generate random numbers
print(random.randint(1, 100))
print(random.randint(1, 100))
print(random.random())

82
15
0.025010755222666936

In [11]:
#70
import random

my_list = [1, 2, 3, 4, 5]

random.shuffle(my_list)

print(my_list)

[4, 5, 1, 2, 3]

In [13]:
#71
#1. open() function

#The open() function is used to create or open a file. Its syntax is:

##file_object = open(filename, mode)

#2. File modes (keywords)

#Some common modes for creating and writing files are:

#Mode	Description
#'r'	Read (default). File must exist.
#'w'	Write. Creates a new file or overwrites if it exists.
#'x'	Create a new file. Fails if file exists.
#'a'	Append. Adds content to the end of file if it exists.
#'b'	Binary mode (e.g., 'rb', 'wb')
#'+'	Update (read and write)
#3. Example: Create and write to a file
# Create or overwrite a file
with open("example.txt", "w") as f:
    f.write("Hello, Python!\n")
    f.write("Writing to a file is easy.")

In [14]:
#72
# Open the file in read mode
with open("example.txt", "r") as file:
    content = file.read()  # Read the entire file

print("File content:")
print(content)

File content:
Hello, Python!
Writing to a file is easy.

In [15]:
#73
# Append text to the file
with open("example.txt", "a") as file:
    file.write("\nThis text is appended to the file.")

# Read and display the updated file content
with open("example.txt", "r") as file:
    content = file.read()

print("Updated file content:")
print(content)

Updated file content:
Hello, Python!
Writing to a file is easy.
This text is appended to the file.

In [16]:
#74
# Number of lines to read
n = 5

with open("example.txt", "r") as file:
    for i in range(n):
        line = file.readline()
        if not line:
            break
        print(line, end='')

Hello, Python!
Writing to a file is easy.
This text is appended to the file.

In [17]:
#75
# Number of lines to read from the end
n = 5

with open("example.txt", "r") as file:
    lines = file.readlines()

# Get the last n lines
last_lines = lines[-n:]

print("Last", n, "lines of the file:")
for line in last_lines:
    print(line, end='')

Last 5 lines of the file:
Hello, Python!
Writing to a file is easy.
This text is appended to the file.

In [18]:
#76
# Open the file in read mode
with open("example.txt", "r") as file:
    lines_list = file.readlines()  # Reads all lines into a list

# Remove trailing newline characters from each line
lines_list = [line.strip() for line in lines_list]

print("Lines in the file as a list:")
print(lines_list)

Lines in the file as a list:
['Hello, Python!', 'Writing to a file is easy.', 'This text is appended to the file.']

In [19]:
#77
# Open the file in read mode
with open("example.txt", "r") as file:
    content = ""
    for line in file:
        content += line

print("File content stored in a variable:")
print(content)

File content stored in a variable:
Hello, Python!
Writing to a file is easy.
This text is appended to the file.

In [20]:
#78
# Example text (can also read from a file)
text = "Python programming is fun and powerful for data analysis"

# Split the text into words
words = text.split()

# Find the length of the longest word
max_length = max(len(word) for word in words)

# Get all words with the maximum length
longest_words = [word for word in words if len(word) == max_length]

print("Longest word(s):", longest_words)
11

Longest word(s): ['programming']

11

In [21]:
#79
# Open the file in read mode
with open("example.txt", "r") as file:
    line_count = sum(1 for line in file)

print(f"Number of lines in the file: {line_count}")

Number of lines in the file: 3

In [22]:
#80
from collections import Counter

# Open and read the file
with open("example.txt", "r") as file:
    text = file.read().lower()

words = text.split()

word_counts = Counter(words)

# Display word frequencies
print("Word frequencies in the file:")
for word, count in word_counts.items():
    print(f"{word}: {count}")

Word frequencies in the file:
hello,: 1
python!: 1
writing: 1
to: 2
a: 1
file: 1
is: 2
easy.: 1
this: 1
text: 1
appended: 1
the: 1
file.: 1

In [23]:
#81
# Example list
my_list = ["Apple", "Banana", "Cherry", "Date"]

# Open the file in write mode
with open("output.txt", "w") as file:
    for item in my_list:
        file.write(item + "\n")

print("List has been written to the file.")

List has been written to the file.

In [28]:
#82
# Open the source file and destination file
with open("example.txt", "r") as src_file:
    content = src_file.read()  # Read entire content

with open("destination.txt", "w") as dest_file:
    dest_file.write(content)   # Write content to destination

print("File has been copied successfully.")

File has been copied successfully.

In [29]:
#83
#1. Error in Python

#An error in Python is an unexpected problem that occurs during program execution and stops the program from running.
#Errors can be of different types:

#Syntax Errors: Mistakes in the Python syntax.

###print("Hello"  # Missing closing parenthesis → SyntaxError

#Runtime Errors (Exceptions): Occur while the program is running.
#Examples:

#Dividing by zero → ZeroDivisionError

#Accessing a missing file → FileNotFoundError

#Index out of range → IndexError

## Exception Handling

#Python uses try, except, else, finally blocks for exception handling.

try:
    # Code that may cause an exception
    num = int(input("Enter a number: "))
    result = 10 / num
except ZeroDivisionError:
    print("Error: Cannot divide by zero!")
except ValueError:
    print("Error: Invalid input, please enter a number.")
else:
    print("Result is:", result)
finally:
    print("Execution completed.")

Enter a number: 5
Result is: 2.0
Execution completed.

In [30]:
#84
#Multiple except statements are allowed.
#Use specific exceptions first, then generic last.

##Some built-in exception classes in Python
#Exception- Class	Description
#Exception-	Base class for all exceptions
#ValueError-	Invalid value, e.g., int("abc")
#TypeError-	Wrong data type used
#ZeroDivisionError-	Division by zero
#IndexError-	Index out of range
#KeyError-	Key not found in dictionary
#FileNotFoundError-	File does not exist
#NameError-	Variable not defined
#IOError / OSError-	Input/output error
#ImportError-	Module not found

In [31]:
#85
#the else part of a try-except-else block is executed only if no exception occurs in the try block.

#Explanation:

#try → Code that might raise an exception.

#except → Handles specific exceptions if they occur.

#else → Runs only if the try block succeeds without any exceptions.

#finally → Runs always, whether an exception occurred or not.

In [33]:
#86
try:
    # Code that may raise exceptions
    num = int(input("Enter a number: "))
    result = 10 / num
except (ValueError, ZeroDivisionError) as e:
    print("An error occurred:", e)

Enter a number: 5

In [34]:
#87
#Key Points:

#Runs after the try block and any handled exceptions.

#Used to release resources like files, network connections, or database connections.

#Executes even if the try or except block has a return, break, or continue.

In [35]:
#88
'1' == 1
#Explanation:

#'1' is a string.

#1 is an integer.

#Python does not automatically convert types when using ==.

False

In [36]:
#89
##try:
    # Code that may raise an exception
##except SomeException:
    # Handle the exception
##finally:
    # Code that runs no matter what

try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ZeroDivisionError:
    print("Error: Cannot divide by zero!")
except ValueError:
    print("Error: Invalid input! Please enter a number.")
finally:
    print("Execution of the program is completed.")

Enter a number: 5
Execution of the program is completed.

In [37]:
#90
class NotOddNumberError(Exception):
    """Custom exception for non-odd numbers."""
    pass

try:
    num = int(input("Enter an odd number: "))
    if num % 2 == 0:
        raise NotOddNumberError("Error: You entered an even number!")
    print(f"Good! You entered an odd number: {num}")
except ValueError:
    print("Invalid input! Please enter a valid integer.")
except NotOddNumberError as e:
    print(e)

Enter an odd number: 7
Good! You entered an odd number: 7